<div class="column col-12">
  <div class="img-container">
    <img class="img-responsive" src="../../../assets/shirt-1.jpeg" />
    <div class="add-cart-msg">
      <h6 class="text-center text-uppercase mb-0 text-light p-2">
        <span>Add to cart</span>
        <i class="material-icons">add</i>
      </h6>
    </div>
  </div>
  <h4 class="text-center featured-item-title mb-0 mt-1">Cali Shirt</h4>
  <h5 class="text-center mb-0 mt-1"><b>$ 10.00</b></h5>
  <div class="rating-containers text-center">
    <ul class="ratings">
      <li>
        <i class="material-icons">
          star_rate
        </i>
      </li>
      <li>
        <i class="material-icons">
          star_rate
        </i>
      </li>
      <li>
        <i class="material-icons">
          star_rate
        </i>
      </li>
      <li>
        <i class="material-icons">
          star_rate
        </i>
      </li>
      <li>
        <i class="material-icons">
          star_rate
        </i>
      </li>
    </ul>
  </div>
</div>