<header class="navbar">
  <section class="navbar-section">
    <button class="btn btn-link m-2"><i class="material-icons text-dark">menu</i></button>
  </section>
  <section class="navbar-center">
      <img width="50px" src="../assets/angular-apparel-icon-small.png"/>
  </section>
  <section class="navbar-section">
    <button class="btn btn-link m-2"><i class="material-icons text-dark">account_circle</i></button>
    <button class="btn btn-link m-2"><i class="material-icons h3 text-dark">shopping_cart</i></button>
  </section>
</header>
<div class="container">
  <router-outlet></router-outlet>
</div>

