<div class="view-all-products" [routerLink]="['/products']" >
  <img class="img-responsive" src="../../../assets/shirt-collection.jpeg"/>
  <div class="view-all-text" >
    <h2 class="view-all-maintext text-uppercase">View All</h2>
    <h5 class="view-all-subtext">Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi repudiandae est ab!</h5>
  </div>
</div>
<div class="sale-message mt-2">
  <h4 class="text-center text-uppercase mt-1 sale-title">15% Sale Off</h4>
  <h5 class="m-2 text-center sale-content">
    Lorem ipsum dolor, sit amet consectetur adipisicing elit.
  </h5>
  <div class="sale-btn text-center pt-2">
    <button class="text-uppercase btn-know-more btn">KNOW MORE</button>
  </div>
</div>